.formNewTodo {
	display: flex;
	justify-content: center;
	background-color: var(--color-grey);
	color: var(--color-primary);
	margin-bottom: 10px;
}

.page {
	margin: 0 50px;
	padding: 10px;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	background-color: var(--color-grey);
	color: var(--color-primary);
}

.h1 {
	margin: 0;
	color: var(--color-white);
}

.hr {
	border: 1px solid var(--color-grey-someLight);
}
