.toDoList__item {
	display: flex;
	gap: 5px;
}

.item__text {
	min-height: 30px;
	border: 1px solid #ffffff;
	pointer-events: none;
}

.active__input {
	border: 1px solid #b9b9b9;
	pointer-events: all;
}

.item__button {
	padding: 10px;
	background: none;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	transition: 0.2s all ease-in-out;

	&:hover {
		background-color: #c5c5c5;
	}
}
