.toDoList__item {
	display: flex;
	gap: 5px;
	padding: 10px;
	background-color: var(--color-grey-1);
	border-radius: 10px;
	justify-content: space-between;
}

.toDoItemText {
	display: flex;
	flex-grow: 1;
}

.item__text_container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 5px;
}

.item__text {
	padding: 0 5px;
	min-height: 70%;
	height: 100%;
	background-color: var(--color-grey-1);
	border: none;
	pointer-events: none;
	font-size: 16px;
	color: var(--color-white);
}

.active__input {
	border: 1px solid var(--color-white);
	border-radius: 10px;
	pointer-events: all;
}

.item__button {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 10px;
	background: none;
	border: none;
	border-radius: 10px;
	transition: 0.2s all ease-in-out;

	&:hover {
		background-color: var(--color-accent);
	}
}

.done__task {
	text-decoration: line-through;
	color: var(--color-grey-someLight);
}

.item__del {
	background-color: var(--color-red-someDark);
}
